* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

*::selection {
  color: white;
  background-color: rgb(26, 85, 26);
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(37, 37, 37);
  color: rgb(28, 38, 41);
}

.form-container {
  width: 600px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0 auto 20px;
  background: white;
  border-radius: 12px;
  border: 0;
}

#form-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

h1 {
  margin: 0 0 30px 0px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.form-input {
  width: 100%;
  height: 45px;
  border: 0;
  background: rgba(0, 0, 0, 0.05);
}

#form-input::placeholder {
  color: black;
  text-indent: 25px;
  padding-top: 12px;
}

input {
  text-indent: 25px;
  padding-top: 12px;
}

textarea {
  text-indent: 25px;
  padding-top: 12px;
  height: 120px;
  width: 100%;
  border: 0;
  background: rgba(0, 0, 0, 0.05);
  line-break: loose;
}

#form-input:focus {
  text-indent: 25px;
  padding-top: 12px;
}

button {
  align-self: center;
  text-align: center;
  margin-top: 30px;
  width: 110px;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: 0;
}

button:hover {
  background: rgb(37, 37, 37);
  color: white;
}

.flag {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-bottom: 50px;
}
